body
{
  background-color: #fff;
  color: #333;
  font-size: 11pt;
  margin-right: 100px;
  margin-left: 100px;
}

h1
{
  text-align: center;
  font-size: 22pt;
  color: #06c;
  margin-top: 2em;
  margin-bottom: 1em;
}

h2
{
  color: #06c;
  font-size: 18pt;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h3
{
  font-size: 16pt;
  color: black;
  margin-bottom: 5px;
}

hr
{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 3px;
  background-color: gray;
  border: 0;
}

p, pre
{
  font-weight: bold;
}

div
{
  border: 0px;
  border-radius: 8px;
  background-color: lightgray;
  margin: 1px;
  padding: 1px;
  width: 400px;
  font-weight: bold;
  line-height: 1;
}

table
{
  border: 2px solid black;
  border-collapse: collapse;
  width: 400px;
  text-align: center;
}

th
{
  width: 200px;
  background-color: lightskyblue;
}

th, td
{
  border: 2px solid black;
}

li
{
  line-height: 2;
}